@charset "UTF-8";

.footer{
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: #333;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    border-top: 3px solid #111;
    color: #fff;
}

.footer span{
    font-weight: bold;
}